<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Somos alumnos de Codo a Codo, del curso Node JS-JavaScript, comision 23568, con el profesor Sr Alberto Gabriel Feldman"
    />
    <meta
      name="keywords"
      content="Tienda Funkoshop, articulos de las sagas Star Wars, Pockemon, Harry Potter. Funkos, Remeras, Llaveros"
    />
    <title><%= title %> |Funkoshop</title>
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    /> -->

    <link rel="stylesheet" href="/estilos/shop.css" />
  </head>
<body>
    
<%- include('../partials/header') %> <!-- Fin Header -->

    <div class="row container">
        <aside> <!-- Inicio Aside -->
            <form action="" class="form">
                <div class="form__group">
                    <label class="form__group--denomination" for="search">BUSCAR</label>
                    <input class="form__group--search" id="search" type="text" name="search" placeholder="Item / Categoría"/>
                </div>
                <div class="form__group">
                    <label class="form__group--denomination" for="short_by">ORDENAR POR</label>
                    <select class="form__group--order" id="short_by" name="short_by">
                        <option value="0">Mayor a menor</option>
                        <option value="1">Precio</option>
                        <option value="2">Orden de salida</option>
                        <option value="3">Descuentos</option>
                    </select>
                </div>
                <fieldset class="form__group">
                    <legend class="form__group--denomination">PRECIO</legend>
                    <div class="form__group--content">
                        <label class="form__group--indicator">MIN
                            <input class="form__group--limit" type="text" id="min" name="price" min="0" placeholder="0">
                        </label>
                        <label class="form__group--indicator">- MAX
                            <input class="form__group--limit" type="text" id="max" name="price" min="0" placeholder="0">
                        </label>
                    </div>
                </fieldset>
                <fieldset class="form__group">
                    <legend class="form__group--denomination">FILTRAR</legend>
                    <div>
                        <label class="form__group--indicator">
                            <input class="form__group--check" type="checkbox" id="filter-1" name="filter" value="1">NUEVOS
                        </label>
                        <label class="form__group--indicator">
                            <input class="form__group--check" type="checkbox" id="filter-2" name="filter" value="2">OFERTAS
                        </label>
                        <label class="form__group--indicator">
                            <input class="form__group--check" type="checkbox" id="filter-3" name="filter" value="3">EDICION ESPECIAL
                        </label>
                        <label class="form__group--indicator">
                            <input class="form__group--check" type="checkbox" id="filter-4" name="filter" value="4">FAVORITOS
                        </label>
                    </div>
                </fieldset>
            </form>
        </aside> <!-- Fin Aside -->
        <main>
            <section class="catalogue">
                <div class="catalogue__grilla"><% data.forEach((item) =>{%>
                        <div class="catalogue__product">
                            <article class="card-item">
                                <a class="card-item__link" href="/shop/item/<%= item.product_id %>">
                                    <picture class="card-item__cover">
                                        <span class="card-item__tag">Nuevo</span>
                                        <img class="card-item__img--front" src="<%= item.img_front  %>" alt="<%= item.product_description  %>">
                                        <img class="card-item__img--back" src="<%= item.img_back %>" alt="<%= item.product_description  %>">
                                    </picture>
                                    <div class="card-item__content">
                                        <p class="card-item__licence"><%= item.category_name %></p>
                                        <p class="card-item__name"><%= item.product_name %></p>
                                        <p class="card-item__price">$ <%= item.product_price %></p>
                                        <p class="card-item__promo"><%= item.dues %> CUOTAS SIN INTERÉS</p>
                                    </div>
                                </a>
                            </article>
                        </div>
                    <%})%></div>

            </section>
            
    
            <section>
                <ul class="pagination__list">
                    <li><a href="#"></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </section>

        </main>
    </div>

<%- include ('../partials/footer') %>

    <script src="https://kit.fontawesome.com/d82e4588df.js" crossorigin="anonymous"></script>
    <!-- <script src="/public/js-fede/productsData.js"></script> -->
    <!-- <script src="/public/js-fede/shop.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script> 
</body>

</html>